{% liquid
	assign class = 'col-xs-12 col-sm-6 col-md-4'
	if _class
		assign class = _class
	endif

	assign target = 'data-modal'
	if index
		assign target = target | append: '-' | append: index
	endif

%}
<address class="feather-address {{ class }}">
	{% if default %}
		<span class="feather-address__default">Default</span>
	{% endif %}
	{% if title %}<h6>{{ title }}</h6>{% endif %}
	{{ address | format_address }}
	{% if editable %}
		<a title="{% if default %}Default Adddress | {%endif%}{{ title }}" class="feather-address__editable" data-btn="{{ target }}">edit</a>
	{% endif %}
</address>