{% liquid
	assign item_title = item.title | split: ' - '
	assign product_title = item_title[0]
	assign variant_title = item_title[1]
%}
<div data-cart-item class="feather-cart-item container">
	<div class="feather-cart-item-details row">
		<div class="feather-cart-item-image">
			<img data-cart-item-image src="{{ item | img_url: 'compact' }}" title="{{ item.title }}" />
		</div>
		<div class="feather-cart-item-title">
			<a title="{{ product_title }}" href="{{ item.url }}">
				<h5 data-cart-item-title>{{ product_title }}</h5>
			</a>
			<p>Variant: <span data-cart-item-variant>{{ variant_title }}</span></p>
			{% if item.sku %}<p>Product SKU: <span data-cart-item-sku>{{ item.sku}}</span></p>{% endif %}
		</div>
		<div class="feather-cart-item-quantity">
			<div class="input">
				<input
					data-cart-item-quantity
					type="number"
					placeholder="0"
					value="{{ item.quantity }}"
					onchange="updateLineItem(event, {{ item.variant_id }})"
				/>
			</div>
		</div>
		<div class="feather-cart-item-price">
			<p data-cart-item-price>{{ item.final_line_price | money }}</p>
		</div>
		<div class="feather-cart-item-total">
			<p data-cart-item-price>{{ item.final_line_price | money }}</p>
		</div>
	</div>
	<a
		data-remove-lineitem
		class="feather-cart-item-remove"
		onclick="removeLineItem(event, {{ item.variant_id }})"
	>{% render 'icon-close' %}</a>
</div>