{% assign filters = values | split: ',' %}

<a title="{{ name }} Filter" class="feather-select feather-select--dropdown">
  <div data-select="{{ name }}" class="container">
    <span>{{ name }}</span>
    {% render 'icon-caret' %}
  </div>
  <div data-select-dropdown="{{ name }}" class="feather-select__dropdown feather-filters--checklist">
    {% for filter in filters %}
      {% liquid 
        assign arr = filter | strip | split: ':'
        assign key = arr[0]
        assign value = arr[1]
        assign label = arr[2]
        assign key_value = key | append: ':' | append: value
      %}
      <div class="feather-filters__item row">
        <input data-filter-checklist="{{ key_value }}" name="filter.v.option.{{ key }}" id="{{ key_value }}" type="checkbox" />
        <label for="{{ key_value }}" style="{{ label_style }}">{{ label }}</label>
      </div>
    {% endfor %}
  </div>
</a>