{% liquid
  assign current_page = paginate.current_page
  assign page_limit = current_page | plus: 3

  if page_limit > paginate.page
    assign page_limit = paginate.page
  endif

  assign first = ''
  assign prev = ''
  if current_page <= 1
    assign first = 'feather-pagination__first--disabled'
    assign prev = 'feather-pagination__prev--disabled'
  endif

  assign last = ''
  assign next = ''
  if current_page >= page_limit
    assign last = 'feather-pagination__last--disabled'
    assign next = 'feather-pagination__next--disabled'
  endif
%}
{% if paginate and paginate.pages > 1 %}
  <div class="feather-pagination">
    <div data-pagination-first class="feather-pagination__first {{ first }} button show-md"><<</div>
    <div data-pagination-prev class="feather-pagination__prev {{ prev }} button"><</div>
    {% for i in (current_page..page_limit) %}
      {% liquid 
        assign active = ''
        if current_page == i
          assign active = 'feather-pagination__page--active'
        endif
      %}
      <div data-pagination-page="{{ i }}" class="feather-pagination__page {{ active }} button show-sm">{{ i }}</div>
    {% endfor %}
    <div data-pagination-next class="feather-pagination__next {{ next }} button">></div>
    <div data-pagination-last class="feather-pagination__last {{ last }} button show-md">>></div>
  </div>
{% endif %}