{% liquid
  assign current_page = paginate.current_page
  assign page_limit = current_page | plus: 3
  assign last_index = paginate.pages | minus: 1

  if page_limit > paginate.pages
    assign page_limit = paginate.pages
  endif

  assign first = ''
  assign prev = ''
  if current_page <= 1
    assign first = 'feather-pagination__first--disabled'
    assign prev = 'feather-pagination__prev--disabled'
  endif

  assign last = ''
  assign next = ''
  if current_page >= page_limit
    assign last = 'feather-pagination__last--disabled'
    assign next = 'feather-pagination__next--disabled'
  endif
%}

{% if paginate and paginate.pages > 0 %}
  <div class="feather-pagination">
    <a
      title="First Page"
      href="{{ paginate.parts[ 0 ].url }}"
      data-pagination-first
      class="feather-pagination__first {{ first }} button show-md"
    ><<</a>
    <a
      title="Previous Page"
      href="{{ paginate.previous.url }}"
      data-pagination-prev
      class="feather-pagination__prev {{ prev }} button"
    ><</a>
    {% for i in (current_page..page_limit) %}
      {% liquid 
        assign number = i | minus: 1
        assign url = paginate.parts[ number ].url

        assign page_text = 'Page ' | append: i
        assign active = ''
        if current_page == i
          assign page_text = 'Current Page, Page ' | append: i
          assign active = 'feather-pagination__page--active'
        endif
      %}
      <a
        title="{{ page_text }}"
        href="{{ url }}"
        data-pagination-page="{{ i }}"
        class="feather-pagination__page {{ active }} button show-sm"
      >{{ i }}</a>
    {% endfor %}
    <a
      title="Next Page"
      href="{{ paginate.next.url }}"
      data-pagination-next
      class="feather-pagination__next {{ next }} button"
    >></a>
    <a
      title="Last Page"
      href="{{ paginate.parts[ last_index ].url }}"
      data-pagination-last
      class="feather-pagination__last {{ last }} button show-md"
    >>></a>
  </div>
{% endif %}