<div class="feather-tab-content">
	<div class="feather-tab-content__tabs">
		{% for category in categories %}
			<a
				data-tab="{{ category }}"
				title={{ category }}
				class="feather-tab-content__tab-item button">{{ category }}</a>
		{% endfor %}
	</div>
	<div class="feather-tab-content__content">
		{% for category in categories %}
			{% assign items = raw | where: "type", category %}

			{% comment %} Product Title & Description {% endcomment %}
			{% if items == blank or items == empty and product[ category ] %}
				<div
					data-tab-item="{{ category }}"
					class="feather-tab-content__content-item feather-tab-content__content-item--product"
				>
				<h4>{{ product.title }}</h4>
				{{ product.description }}
				</div>
			{% endif %}

			{% comment %} Table items {% endcomment %}
			{% if items and items.size != 0 %}
				<div
					data-tab-item="{{ category }}"
					class="feather-tab-content__content-item"
				>
					{% for item in items %}
						{% liquid 
							assign value = items.settings.title
							if item.settings.text
								assign value = item.settings.text
							endif
						%}
						<div class="container container--padding">
							<div class="row">
								<div class="feather-tab-content__content-item__title">{{ item.settings.title }}</div>
								<div class="feather-tab-content__content-item__value">{{ value }}</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>