<div class="feather-tab-content">
	<div class="feather-tab-content__tabs">
		{% for category in categories %}
			<a
				data-tab="{{ category }}"
				title={{ category }}
				class="feather-tab-content__tab-item button">{{ category }}</a>
		{% endfor %}
	</div>
	<div class="feather-tab-content__content">
		{% for category in categories %}
			{% assign items = raw | where: "type", category %}
			{% if items == blank or items == empty and product[ category ] %}
				<div
					data-tab-item="{{ category }}"
					class="feather-tab-content__content-item feather-tab-content__content-item--product"
				>

				{{ product[category] }}
				</div>
			{% endif %}
			{% for item in items %}
				<div
					data-tab-item="{{ item.type }}"
					class="feather-tab-content__content-item row"
				>
					<div class="col-xs-6">{{ item.settings.title }}</div>
					<div class="col-xs-6">{{ item.settings.value }}</div>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
</div>