{% liquid 
	assign render_class = 'render__none'
	assign items = nil

	if collections.size >= 3
		assign render_class = 'render__auto'
		assign items = collections
	endif

	if section.blocks and section.blocks.size >= 3
		assign render_class = 'render__custom'
		assign items = section.blocks | map: 'settings' | map: 'category'
	endif

	if collections.size > 0 and collections.size < 3 and section.blocks.size > 0 and section.blocks.size < 3
		assign render_class = 'render__auto-custom-mix'
		assign blocks = section.blocks | map: 'settings' | map: 'category'
		assign items = collections | concat:  blocks
	endif
%}

{% if items and items.size >= 3 %}
	<div class="row {{ render_class }}">
		<div class="row col-xs-12 col-md-8">
			{% for item in items limit: 1 %}
				<a
					href="{{ item.url }}"
					title="{{ item.title }}"
					class="feather-collection-banner__item"
				>	
					<p>{{ item.title }}</p>
					<div class="feather-collection-banner__item-bg" style="background-image: url('{{ item.featured_image | img_url: '1200x900' }}')"></div>
				</a>
			{% endfor %}
		</div>
		<div class="row col-xs-12 col-md-4">
			{% for item in items limit: 3 %}
				{% if forloop.index != 1 %}
					<a
						href="{{ item.url }}"
						title="{{ item.title }}"
						class="feather-collection-banner__item col-xs-6 col-md-12"
					>	
						<p>{{ item.title }}</p>
						<div class="feather-collection-banner__item-bg" style="background-image: url('{{ item.featured_image | img_url: '1200x450' }}')"></div>
					</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endif %}


{% schema %}
	{
		"name": "Collections Banner",
		"class": "feather-collection-banner",
		"tag": "section",
		"max_blocks": 3,
		"blocks": [
    {
      "type": "collections-banner",
      "name": "Collections Banner",
      "settings": [
        {
          "id": "category",
          "type": "collection",
          "label": "Featured Collection"
        }
      ]
    }
  ]
	}
{% endschema %}