{% liquid 
	assign main_class = 'col-xs-12'
	if section.blocks.size > 1
		assign main_class = 'col-xs-12 col-md-8'
	endif
%}

<div class="row">
	<div class="row {{ main_class }}">
		{% if section.blocks.size >= 1 %}
			{% for item in section.blocks limit: 1 %}
				<a
					href="{{ item.settings.category.url }}"
					title="{{ item.settings.category.title }}"
					class="feather-collection-banner__item"
				>	
					<p>{{ item.settings.category.title }}</p>
					<div class="feather-collection-banner__item-bg" style="background-image: url('{{ item.settings.category.featured_image | img_url: '1200x900' }}')"></div>
				</a>
			{% endfor %}
		{% else %}
			<a class="feather-collection-banner__item feather-collection-banner__item-none">	
				<div class="feather-collection-banner__item-bg" style="background-image: url('https://via.placeholder.com/1200')"></div>
			</a>
		{% endif %}
	</div>
	{% if section.blocks.size >= 2 %}
		<div class="row col-xs-12 col-md-4">
			{% for item in section.blocks limit: 3 %}
				{% if forloop.index != 1 %}
					<a
						href="{{ item.url }}"
						title="{{ item.title }}"
						class="feather-collection-banner__item col-xs-6 col-md-12"
					>	
						<p>{{ item.title }}</p>
						<div class="feather-collection-banner__item-bg" style="background-image: url('{{ item.featured_image | img_url: '1200x450' }}')"></div>
					</a>
				{% endif %}
			{% endfor %}
		{% endif %}
		</div>
</div>


{% schema %}
	{
		"name": "Collections Banner",
		"class": "feather-collection-banner",
		"tag": "section",
		"max_blocks": 3,
		"blocks": [
	    {
	      "type": "collections-banner",
	      "name": "Collections Banner",
	      "settings": [
	        {
	          "id": "category",
	          "type": "collection",
	          "label": "Featured Collection"
	        }
	      ]
	    }
	  ],
	  "presets": [
  		{
  			"name": "Collections Banner",
  			"blocks": [
  				{
  					"type": "collections-banner"
  				}
  			]
  		}
  	]
	}
{% endschema %}