{% liquid
	assign title = section.settings.title
	if template.name == 'list-collections' and title == blank
		assign title = 'Collections'
	endif
	if template.name == 'collection' and title == blank
		assign title = collection.title
	endif
%}
{% if section.settings.image %}
	<picture>
		<source
			media="(min-width: 1600px)"
			srcset="{{ section.settings.image | img_url: '2500x' }}"
		/>
		<source
			media="(min-width: 960px)"
			srcset="{{ section.settings.image | img_url: '1200x' }}"
		/>
		<source
			media="(max-width: 960px)"
			srcset="{{ section.settings.image | img_url: '800x' }}"
		/>
    <img src="{{ section.settings.image | img_url: '2500x' }}" alt="{{ section.settigns.title }}">
	</picture>
{% endif %}
<div class="container row center-xs middle-xs">
	<h1>{{ title }}</h1>
</div>

{% schema %}
	{
		"name": "Collection Header",
		"class": "feather-collection__header",
		"tag": "section",
		"settings": [
			{
				"id": "title",
				"type": "text",
				"label": "Page Title",
				"info": "This page can be found at '/collections'. The text will become white when a banner image is added."
			},
			{
				"id": "image",
				"type": "image_picker",
				"label": "Page Banner"
			}
		],
		"presets": [
  		{
  			"name": "Collection Header"
  		}
  	]
	}
{% endschema %}