{% liquid 
	assign background_images = ''
	for item in section.blocks limit: 3
		assign image = item.settings.category.featured_image | img_url: '1200x900'

		if forloop.index != 1
			assign image = item.settings.category.featured_image | img_url: '1200x450'
		endif

		assign background_images = background_images | append: image | append: ','
	endfor

	assign remainder = 3 | minus: section.blocks.size

	for i in (1..remainder)
		if forloop.index == 1
			assign background_images = background_images | append: 'feather-placeholder' | append: ','
		else
			assign background_images = background_images | append: 'feather-placeholder' | append: ','
		endif
	endfor

	assign background_images = background_images | split: ','
%}

<div class="row">
	<div class="row col-xs-12 col-md-8">
		{% for item in background_images limit: 1 %}
			<a
				href="{{ item.settings.category.url }}"
				title="{{ item.settings.category.title }}"
				class="feather-collection-banner__item"
			>	
				<p>{{ item.settings.category.title }}</p>
				{% if  background_images[0] != 'feather-placeholder' %}
					<div class="feather-collection-banner__item-bg" style="background-image: url('{{ background_images[0] }}')"></div>
				{% else %}
					{{ 'collection-1' | placeholder_svg_tag }}
				{% endif %}
			</a>
		{% endfor %}
	</div>
	<div class="row col-xs-12 col-md-4">
		{% for item in background_images limit: 3 %}
			{% if forloop.index != 1 %}
				{% liquid 
					assign index = forloop.index | minus: 1
				%}
				<a
					href="{{ item.url }}"
					title="{{ item.title }}"
					class="feather-collection-banner__item col-xs-6 col-md-12"
				>	
					<p>{{ item.title }}</p>
					{% if background_images[index] != 'feather-placeholder' %}
						<div class="feather-collection-banner__item-bg" style="background-image: url('{{ background_images[index] }}')"></div>
					{% else %}
						{% assign placeholder_image = 'collection-' | append: forloop.index %}
						{{ placeholder_image | placeholder_svg_tag }}
					{% endif %}
				</a>
			{% endif %}
		{% endfor %}
	</div>
</div>


{% schema %}
	{
		"name": "Collections Banner",
		"class": "feather-collection-banner",
		"tag": "section",
		"max_blocks": 3,
		"blocks": [
	    {
	      "type": "collections-banner",
	      "name": "Collections Banner",
	      "settings": [
	        {
	          "id": "category",
	          "type": "collection",
	          "label": "Featured Collection"
	        }
	      ]
	    }
	  ],
	  "presets": [
  		{
  			"name": "Collections Banner",
  			"blocks": [
  				{
  					"type": "collections-banner"
  				}
  			]
  		}
  	]
	}
{% endschema %}