{%
	assign social_links = 'facebook,twitter,telegram,truth,instagram,tiktok,snapchat,youtube,vimeo,pinterest,tumblr,github,website' | split: ','
%}

<div class="container--padding container--xl">
	{% render 'icon-feather' %}
	<div class="row center-xs">
		<div class="footer__details-tagline col-xs-12 col-md-6 footer__row">
			<h5>{{ section.settings.tagline }}</h5>
		</div>
		<div class="footer__business-details col-xs-12 col-md-6 footer__row">
			{% if shop.email or shop.phone %}
				<div class="footer__details-detail footer__details-contact">
					<h6>Contact</h6>
					{% if shop.email %}<a title="Email Address {{ shop.email }}" href="mailto:{{ shop.email }}">{{ shop.email }}</a>{% endif %}
					{% if shop.phone %}<a title="Phone Number {{ shop.phone }}" href="tel:{{ shop.phone }}">{{ shop.phone }}</a>{% endif %}
				</div>
			{% endif %}
			{% if shop.address.summary %}
				<address class="footer__details-detail footer__details-address address">
					<h6>Address</h6>
					{% if shop.address.company %}<p class="address__company">{{ shop.address.company }}</p>{% endif %}
					<p>{{ shop.address.summary }}</p>
				</address>
			{% endif %}
		</div>
		{% if linklists.footer.links.size > 0 %}
			<div class="footer__details-nav footer__row">
				<nav class="row center-sm">
					{% for link in linklists.footer.links %}
						<ul class="col-xs-6 col-sm-3 col-md-4">
							<li>
								{{ link.title | link_to: link.url }}
							</li>
							{% for childlink in link.links %}
								<li>{{ childlink.title | link_to: childlink.url }}</li>
								{% for grandchildlink in childlinks.links %}
									<li>{{ grandchildlink.title | link_to: grandchildlink.url }}</li>
								{% endfor %}
							{% endfor %}
						</ul>
					{% endfor %}
				</nav>
			</div>
		{% endif %}
		<div class="footer__details-social-nav footer__row">
			<p>{{ settings.social_facebook_link }}</p>
			<ul>
				{% for social in social_links %}
					{% liquid
						assign id = social | prepend: 'social_' | append: '_link'
						assign icon = social | prepend: 'icon-'
					%}
					{% if settings[ id ] %}
						<li>
							<a title="{{ id }}" href="{{ settings[ id ]}}" target="_blank">
	              {%- render icon -%}
	            </a>
	          </li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="footer__details-copyright col-xs-12 footer__row">
			<p>&copy; {{ 'now' | date: '%Y' }} {{ shop.name | link_to: routes.root_url }}</p>
		</div>
	</div>
</div>

{% schema %}
	{
		"name": "Footer",
		"class": "feather-footer",
		"tag": "footer",
		"settings": [
			{
				"id": "tagline",
				"type": "text",
				"default": "Contact Us!<br/>We're here to help you find the perfect item.",
				"label": "Tag Line"
			}
		]
	}
{% endschema %}