{% comment %} TOP {% endcomment %}
<div class="feather-header__top container container--padding row center-xs middle-xs start-md">
	{% comment %} LOGO {% endcomment %}
	<a class="feather-header__logo col-md-3" href="/">
		{%- if section.settings.logo != blank -%}
				<img
					srcset="{{ section.settings.logo | image_url: width: section.settings.logo_width }} 1x, {{ section.settings.logo | image_url: width: image_size_2x }} 2x"
					alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
				/>
    {%- else -%}
      <span>{{ shop.name }}</span>
    {%- endif -%}
  </a>

	{% comment %} SEARCH  {% endcomment %}  
	<div class="feather-header__search col-md-6 center-xs show-flex-md">
		{% render 'search-input' %}
	</div>

  {% comment %} USER NAV - SHOPIFY ACTIONS  {% endcomment %}
  <div class="feather-header__user-nav row end-xs middle-xs col-md-3">
		<a class="feather-header__user-account" href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
	    {% render 'icon-account' %}
	    {%- if customer -%}
	        {{ customer.account_fallback }}
	     {%- else -%}
	     	{{ customer.log_in }}
	     {%- endif -%}
	  </a>
	  <a class="feather-header__user-cart" href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
	    {%- if cart == empty -%}
	    	{% render 'icon-cart-empty' %}
	    {%- else -%}
	    	{% render 'icon-cart' %}
	    {%- endif -%}
	    {%- if cart != empty -%}
	      <div class="cart-count-bubble">
	        {%- if cart.item_count < 100 -%}
	          <span aria-hidden="true">{{ cart.item_count }}</span>
	        {%- endif -%}
	        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
	      </div>
	    {%- endif -%}
	  </a>
	</div>
</div>
{% comment %} BOTTOM {% endcomment %}
<div class="feather-header__bottom container container--padding row">
	{% comment %} MOBILE MENU BTN {% endcomment %}
	<div class="row col-xs-2 col-sm-3 middle-xs hide-md">
		<div class="feather-header__menu-btn" data-nav="nav-active">
			<div class="feather-header__menu-bar"></div>
			<div class="feather-header__menu-bar"></div>
			<div class="feather-header__menu-bar"></div>
		</div>
	</div>

	{% comment %} SEARCH  {% endcomment %}  
	<div class="feather-header__search col-xs-8 col-md-6 center-xs hide-md">
		{% render 'search-input' %}
	</div>

	{% comment %} MAIN NAV {% endcomment %}
	<nav class="feather-header__nav col-xs-12 show-md">
		<ul class="row center-xs middle-xs">
			{%- for link in linklists.main-menu.links -%}
				<li class="feather-header__nav-item {% if link.current %}feather-header__nav-item--active{% endif %}">
					<a href="{{ link.url }}">{{ link.title }}</a>
					{% comment %} DROPDOWN NAV {% endcomment %}
					{%- if link.links != blank -%}
						<nav class="feather-header__dropdown">
							<div class="row feather-header__dropdown-title">
								<div class="container container--padding start-xs middle-xs">
									<span>{{ link.title }}</span>
								</div>
							</div>
							<div class="row feather-header__dropdown-container">
								<div class="container container--padding">
									<div class="row">
										<ul class="col-xs-6">
											{%- for childlink in link.links -%}
												<li class="feather-header__dropdown-item start-xs" data-nav-item="{{ childlink.handle }}">
													<a href="{{ childlink.url }}">{{ childlink.title }}</a>
												</li>
											{%- endfor -%}
										</ul>
										{%- for childlink in link.links -%}
											{%- if childlink.links != blank -%}
												<ul class="col-xs-6" data-nav="{{ childlink.handle }}">
													{%- for grandchildlink in childlink.links -%}
														<li class="feather-header__dropdown-item start-xs">
															<a href="{{ grandchildlink.url }}">{{ grandchildlink.title }}</a>
														</li>
													{%- endfor -%}
												</ul>
											{%- endif -%}
										{%- endfor -%}
									</div>
								</div>
							</div>
						</nav>
					{%- endif -%}
					{% comment %} DROPDOWN NAV {% endcomment %}
				</li>
			{%- endfor -%}
		</ul>
	</nav>
</div>


{% schema %}
{
  "name": "Header",
  "class": "feather-header",
  "tag": "header",
  "settings": [
    {
    	"id": "logo",
      "type": "image_picker",
      "label": "Select Logo"
    },
    {
    	"id": "logo_width",
      "type": "range",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    }
  ]
}
{% endschema %}

