{% liquid
	assign col_size = 'col-md-1'
	if section.blocks.size > 1
		assign col_size = section.blocks.size | prepend: 'col-md-6'
	endif
	if section.blocks.size > 3
		assign col_size = 'col-md-4'
	endif
%}

{% if section.blocks.size > 0 %}
	<div class="feather-information__items container">
		<div class="row">
			{% for item in section.blocks %}
				{% liquid
					assign last_col_size = ''
					assign remaining = forloop.index | modulo: 4
					if section.blocks.size > 3 and remaining == 0
						assign last_col_size = 'col-md-12'
					endif
				%}
				<div class="feather-information__item col-xs-2 {{ col_size }} {{ last_col_size }}">
					<div class="feather-information__image">
						<img src="{{ item.settings.image | img_url: '300x' }}" alt="{{ item.settigns.title }}" />
					</div>
					<div class="feather-information__details">
						<h4>{{ item.settings.title }}</h4>
						<p>{{ item.settings.text }}</p>
						{% if item.settings.url %}
							{{ 'View More' | link_to: item.settings.url }}
						{% endif %}
					</div>	
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}
		
	</div>

{% schema %}
	{
		"name": "Information Grid",
		"class": "feather-information",
		"tag": "section",
		"blocks": [
	    {
	      "type": "grid-item",
	      "name": "Grid Item",
	      "settings": [
	        {
	          "id": "image",
	          "type": "image_picker",
	          "label": "Icon"
	        },
	        {
	          "id": "title",
	          "type": "text",
	          "label": "Title"
	        },
	        {
	          "id": "text",
	          "type": "text",
	          "label": "Text"
	        },
	        {
	          "id": "url",
	          "type": "url",
	          "label": "Url"
	        }
	      ]
	    }
  	]
	}
{% endschema %}