{% liquid
	assign container = 'container--lg'
	assign col = 'col-xs-12'

	if section.blocks.size == 2
		assign col = 'col-xs-12 col-sm-6'
	endif

	if section.blocks.size > 2
		assign container = 'container--xl'
		assign col = 'col-xs-12 col-sm-6 col-lg-4'
	endif
%}

{% if section.blocks.size > 0 %}
	<div class="feather-information-grid__items container container--padding {{ container }}">
		<div class="row center-xs">
			{% for item in section.blocks %}
				<div class="feather-information-grid__item col-xs-12 {{ col }}">
					<div class="feather-information-grid__item-image">
						<img src="{{ item.settings.image | img_url: '300x' }}" alt="{{ item.settigns.title }}" />
					</div>
					<div class="feather-information-grid__item-details">
						<h5>{{ item.settings.title }}</h5>
						<p>{{ item.settings.text }}</p>
						{% if item.settings.url %}
							{{ 'View More' | link_to: item.settings.url }}
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}
		
	</div>

{% schema %}
	{
		"name": "Information Grid",
		"class": "feather-information-grid",
		"tag": "section",
		"blocks": [
	    {
	      "type": "grid-item",
	      "name": "Grid Item",
	      "settings": [
	        {
	          "id": "image",
	          "type": "image_picker",
	          "label": "Icon"
	        },
	        {
	          "id": "title",
	          "type": "text",
	          "label": "Title"
	        },
	        {
	          "id": "text",
	          "type": "text",
	          "label": "Text"
	        },
	        {
	          "id": "url",
	          "type": "url",
	          "label": "Url"
	        }
	      ]
	    }
  	]
	}
{% endschema %}