<div id="mobile-menu" data-el="mobile-menu">
	<nav class="nav">
		<ul class="nav__links">
			{%- for link in linklists.main-menu.links -%}
				<li class="nav__item {% if link.current %}nav__item--active{% endif %}">
					<a href="{{ link.url }}">{{ link.title }}</a>
					{% if link.links.size > 0 %}
						<ul>
							{%- for child_link in link.links -%}
								<li>
									<a href="{{ child_link.url }}">{{ child_link.title }}</a>
										{% if child_link.links.size > 0 %}
											<ul>
												{%- for grandchild_link in child_link.links -%}
													<li>
														<a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
													</li>
												{%- endfor -%}
											</ul>
										{%- endif -%}
								</li>
							{%- endfor -%}
						</ul>
					{%- endif -%}		
				</li>
			{%- endfor -%}
			{%- if shop.customer_accounts_enabled -%}
					<li class="nav__item nav__item-account">
            <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
              {% render 'icon-account' %}
              {%- if customer -%}
                  {{ customer.account_fallback }}
               {%- else -%}
               	{{ customer.log_in }} <span>Login</span>
               {%- endif -%}
            </a>
          </li>
        {%- endif -%}
		</ul>
	</nav>
</div>