<div id="mobile-menu" data-el="mobile-menu">
	<nav class="nav">
		{%- for link in linklists.main-menu.links -%}
			<ul class="nav__links">
				{% comment %}Parent Row{% endcomment %}
				<li class="nav__item {% if link.current %}nav__item--active{% endif %}">
					<a href="{{ link.url }}">{{ link.title }}</a>
				</li>

				{% comment %}Child Row{% endcomment %}
				{% if link.links.size > 0 %}
					{%- for child_link in link.links -%}
						<li class="nav__item {% if child_link.current %}nav__item--active{% endif %}">
							<a href="{{ child_link.url }}">{{ child_link.title }}</a>
						</li>

						{% comment %}Grand Child Row{% endcomment %}
						{% if child_link.links.size > 0 %}
							{%- for grandchild_link in child_link.links -%}
								<li class="nav__item {% if grandchild_link.current %}nav__item--active{% endif %}">
									<a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
								</li>
							{%- endfor -%}
						{% endif %}
					{%- endfor -%}
				{% endif %}
			</ul>
		{%- endfor -%}
	</nav>
</div>