<div class="container container--padding container--lg">
	<div class="row">
		<div class="col-xs-12 feather-product-spotlight__tagline" data-in-view>
			<p>{{ section.settings.tagline}}</p>
		</div>
	</div>
</div>
<div class="container container--padding container--md">
	<div class="row end-md">
		<div class="col-xs-12 col-md-6 feather-product-spotlight__sub-tagline" data-in-view>
			<p>{{ section.settings.subtagline}}</p>
		</div>
	</div>
</div>
<div class="container container--padding container--md">
	<div class="row">
		<div data-glide class="col-xs-12 feather-product-spotlight__items glide">
			<div class="glide__track">
				<ul class="glide__slides">
					{% for block in section.blocks %}
						{% assign item = block.settings.product %}
						<li>
							<a title="{{ item.title }}" href="{{ item.url }}" class="feather-product-spotlight__item">
								<picture>
									<source media="(min-width: 1200px)" src="{{ item.featured_image | img_url: '1200x' }}" />
									<source media="(min-width: 750px)" src="{{ item.featured_image | img_url: '950x' }}" />
									<source media="(max-width: 750px)" src="{{ item.featured_image | img_url: '600x' }}" />
									<img src="{{ item.featured_image | img_url: '600x' }}" />
								</picture>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

{% schema %}
	{
		"name": "Product Spotlight",
		"class": "feather-product-spotlight",
		"tag": "section",
		"settings": [
			{
				"id": "tagline",
				"type": "text",
				"label": "Tagline",
				"default": "Outdoor furniture that turns your patio into an oasis of. Our furniture combines nature and modern design with materials your company will love."
			},
			{
				"id": "subtagline",
				"type": "text",
				"label": "Sub Tagline",
				"default": "Spotlight: Products in focus"
			}
		],
		"blocks": [
	    {
	      "type": "products-banner",
	      "name": "Featured Product",
	      "settings": [
	        {
	          "id": "product",
	          "type": "product",
	          "label": "Featured Product"
	        }
	      ]
	    }
  	]
	}
{% endschema %}

