{{ recommendations.products }}
<div
	data-recommendations
	data-section="{{ section.id }}"
	data-product="{{ product.id }}"
	class="container container--padding"
>
	<p>{{ recommendations.products_count }}</p>
	<div class="row">
		<product-recommendations>
	    {% if recommendations.performed and recommendations.products_count > 0 %}
	      <ul>
	        {% for recommendation in recommendations.products %}
	        	<p>{{ forloop.index }}</p>
	        {% endfor %}
	      </ul>
	    {% endif %}
	  </product-recommendations>
	</div>
</div>

{% schema %}
	{
		"name": "Related Products",
		"tag": "section",
		"class": "feather-product__related",
		"settings": [
			{
				"id": "title",
				"type": "text",
				"label": "Title",
				"default": "Make it complete"
			}
		],
		"blocks": [
			{
	      "type": "products",
	      "name": "Products",
	      "settings": [
	        {
	          "id": "product",
	          "type": "product",
	          "label": "Product"
	        }
	      ]
	    }
	  ]
	}
{% endschema %}