{% 
	liquid

	assign tagline_container_width = nil
	if section.settings.tagline_container_width != 'fluid'
		assign tagline_container_width = section.settings.tagline_container_width
	endif

	assign subtagline_container_width = nil
	if section.settings.subtagline_container_width != 'fluid'
		assign subtagline_container_width = section.settings.subtagline_container_width
	endif

	assign product_carousel_container_width = nil
	if section.settings.product_carousel_container_width != 'fluid'
		assign product_carousel_container_width = section.settings.product_carousel_container_width
	endif
%}

{% if section.settings and section.settings.tagline %}
	<div
		class="feather-product-spotlight__tagline container container--padding{% if tagline_container_width %} container--{{ tagline_container_width }}{% endif %}"
	>
		<div class="row">
			<div class="col-xs-12" data-in-view>
				<p>{{ section.settings.tagline }}</p>
			</div>
		</div>
	</div>
{% endif %}
{% if section.settings and section.settings.subtagline %}
	<div class="feather-product-spotlight__sub-tagline container container--padding{% if subtagline_container_width %} container--{{ subtagline_container_width }}{% endif %}">
		<div class="row end-md">
			<div class="col-xs-12 col-md-6" data-in-view>
				<p>{{ section.settings.subtagline }}</p>
			</div>
		</div>
	</div>
{% endif %}
{% if section.blocks and section.blocks.size > 0 %}
	<div class="feather-product-spotlight__items container container--padding container--lg">
		<div class="row">
			<div data-spotlight="{{ section.id }}" class="col-xs-12 glide">
				<div data-glide-el="track" class="glide__track">
					<ul class="glide__slides">
						{% for block in section.blocks %}
							{% assign item = block.settings.product %}
							<li  class="feather-product-spotlight__item">
								<a title="{{ item.title }}" href="{{ item.url }}" data-in-view>
									<picture>
										<source media="(min-width: 1200px)" src="{{ item.featured_image | img_url: '1200x' }}" />
										<source media="(min-width: 750px)" src="{{ item.featured_image | img_url: '950x' }}" />
										<source media="(max-width: 750px)" src="{{ item.featured_image | img_url: '600x' }}" />
										<img src="{{ item.featured_image | img_url: '600x' }}" />
									</picture>
									<span>{{ item.title }}</span>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div data-glide-el="controls" class="glide__arrows">
			    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">{% render 'icon-arrow'%}</button>
			    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">{% render 'icon-arrow'%}</button>
			  </div>
			</div>
		</div>
	</div>
{% endif %}

{% schema %}
	{
		"name": "Product Spotlight",
		"class": "feather-product-spotlight",
		"tag": "section",
		"settings": [
			{
        "type": "header",
        "content": "Tagline"
      },
			{
				"id": "tagline",
				"type": "text",
				"label": "Text",
				"default": "Outdoor furniture that turns your patio into an oasis of. Our furniture combines nature and modern design with materials your company will love."
			},
			{
				"id": "tagline_container_width",
				"type": "select",
				"label": "Max Width",
				"options": [
			    {
			      "value": "xs",
			      "label": "Extra Small"
			    },
			    {
			      "value": "sm",
			      "label": "Small"
			    },
			    {
			      "value": "md",
			      "label": "Medium"
			    },
			    {
			      "value": "lg",
			      "label": "Large"
			    },
			    {
			      "value": "xl",
			      "label": "Extra Large"
			    },
			    {
			      "value": "fluid",
			      "label": "Fluid"
			    }
			  ],
			  "default": "xl"
			},
			{
        "type": "header",
        "content": "Sub Tagline"
      },
			{
				"id": "subtagline",
				"type": "text",
				"label": "Text",
				"default": "Spotlight: Products in focus"
			},
			{
				"id": "subtagline_container_width",
				"type": "select",
				"label": "Max Width",
				"options": [
			    {
			      "value": "xs",
			      "label": "Extra Small"
			    },
			    {
			      "value": "sm",
			      "label": "Small"
			    },
			    {
			      "value": "md",
			      "label": "Medium"
			    },
			    {
			      "value": "lg",
			      "label": "Large"
			    },
			    {
			      "value": "xl",
			      "label": "Extra Large"
			    },
			    {
			      "value": "fluid",
			      "label": "Fluid"
			    }
			  ],
			  "default": "xl"
			},
			{
        "type": "header",
        "content": "Product Carousel"
      },
      {
				"id": "product_carousel_container_width",
				"type": "select",
				"label": "Max Width",
				"options": [
			    {
			      "value": "xs",
			      "label": "Extra Small"
			    },
			    {
			      "value": "sm",
			      "label": "Small"
			    },
			    {
			      "value": "md",
			      "label": "Medium"
			    },
			    {
			      "value": "lg",
			      "label": "Large"
			    },
			    {
			      "value": "xl",
			      "label": "Extra Large"
			    },
			    {
			      "value": "fluid",
			      "label": "Fluid"
			    }
			  ],
			  "default": "xl"
			}
		],
		"blocks": [
	    {
	      "type": "products-carousel",
	      "name": "Featured Product",
	      "settings": [
	        {
	          "id": "product",
	          "type": "product",
	          "label": "Product Carousel"
	        }
	      ]
	    }
  	],
  	"presets": [
  		{
  			"name": "Product Spotlight",
  			"blocks": [
  				{
  					"type": "products-carousel"
  				}
  			]
  		}
  	]
	}
{% endschema %}

