{% 
  liquid

  assign swiper_width = nil
  if section.settings.swiper_width != 'fluid'
    assign swiper_width = section.settings.swiper_width
  endif
%}

{% if section.blocks.size > 0 %}
	<div class="container container--padding{% if swiper_width %} container--{{ swiper_width }}{% endif %}">
		<div class="feather-swiper__title row">
			{% if section.settings.title %}
				<h5>{{ section.settings.title }}</h5>
			{% endif %}
		</div>
		<div class="feather-swiper__swiper row">
			<!-- Slider main container -->
				<div
					data-swiper={{ section.id }}
					{% if section.settings.pagination %}data-pagination="true"{% endif %}
					{% if section.settings.navigation %}data-navigation="true"{% endif %}
					{% if section.settings.scrollbar %}data-scrollbar="true"{% endif %}
					{% if section.settings.loop %}data-loop="true"{% endif %}
					{% if section.settings.space_between_slides %}data-space-between-slides="{{ section.settings.space_between_slides }}"{% endif %}
					{% if section.settings.slides_perview_mobile %}data-slides-per-view-mobile="{{ section.settings.slides_perview_mobile }}"{% endif %}
					{% if section.settings.slides_perview_desktop %}data-slides-per-view-desktop="{{ section.settings.slides_perview_desktop }}"{% endif %}
					{% if section.settings.swiper_effect %}data-effect="{{ section.settings.swiper_effect }}"{% endif %}
					class="swiper"
				>
				  <!-- Additional required wrapper -->
				  <div class="swiper-wrapper">
				    <!-- Slides -->
					  {% for item in section.blocks %}
					    <div class="swiper-slide">
					    	{% case item.type %}
					    		{% when 'product' %}
							    	{% liquid 
							    		assign ref = all_products[item.settings.product]
							    	%}
				            <a title="{{ ref.title }}" href="{{ ref.url }}">
							    		{% render 'item', item: ref %}
							    	</a>
							    {% when 'image_picker' %}
							    	{%
				              render 'overlay',
				              overlay: item.settings.image_overlay,
				              title: item.settings.image_title,
				              text: item.settings.image_text,
				              x_alignment: item.settings.image_content_x_alignment,
				              y_alignment: item.settings.image_content_y_alignment,
				              text_alignment: item.settings.image_text_alignment
				            %}
							    	{% if item.settings.image_url and item.settings.image_url != empty %}
							    		<a title="{{ item.settings.image.alt }}" href="{{ item.settings.image_url }}">
							    			{{ item.settings.image | image_url: width: 1200 | image_tag }}
							    		</a>
							    	{% else %}
							    		{{ item.settings.image | image_url: width: 1200 | image_tag }}
							    	{% endif %}
							    {% when 'video' %}
							    	{%
				              render 'overlay',
				              overlay: block.settings.video_overlay,
				              title: block.settings.video_title,
				              text: block.settings.video_text,
				              x_alignment: block.settings.video_content_x_alignment,
				              y_alignment: block.settings.video_content_y_alignment,
				              text_alignment: item.settings.video_text_alignment
				            %}
							    	{% if item.settings.video and item.settings.video != empty %}
							    		<a href="{{ item.settings.video_url }}">
							    			{{ item.settings.video | video_tag: image_size: '1200x', controls: item.settings.video_controls, autoplay: item.settings.video_autoplay, loop: item.settings.video_loop  }}
							    		</a>
							    	{% else %}
							    		{{ item.settings.video | video_tag: image_size: '1200x', controls: item.settings.video_controls, autoplay: item.settings.video_autoplay, loop: item.settings.video_loop  }}
							    	{% endif %}
							    {% when 'video_url' %}
				            {% render 'video-url', video_url: item.settings.video_url %}
						    {% endcase %}
					    </div>
					  {% endfor %}
				  </div>

				  {% if section.settings.pagination %}
				  	<div class="swiper-pagination"></div>
				  {% endif %}

				  {% if section.settings.scrollbar %}
				  	<div class="swiper-scrollbar"></div>
				  {% endif %}
				</div>
		</div>
		{% if section.settings.navigation %}
			<div data-navigation="{{ section.id }}" class="feather-swiper__navigation row end-xs">
				<div class="swiper-button-prev button">
					{% render 'icon-arrow' %}
				</div>
				<div class="swiper-button-next button">
					{% render 'icon-arrow' %}
				</div>
			</div>
		{% endif%}
	</div>
{% endif %}

{% schema %}
	{
		"name": "Swiper",
		"tag": "section",
		"class": "feather-swiper",
		"settings": [
			{
				"id": "title",
				"type": "text",
				"label": "Title",
				"default": "Make it complete"
			},
			{
				"type": "header",
				"content": "Swiper Settings"
			},
			{
				"id": "pagination",
				"type": "checkbox",
				"label": "Show Pagination",
				"default": true
			},
			{
				"id": "navigation",
				"type": "checkbox",
				"label": "Show Navigation",
				"default": true
			},
			{
				"id": "scrollbar",
				"type": "checkbox",
				"label": "Show Scrollbar",
				"default": true
			},
			{
				"id": "loop",
				"type": "checkbox",
				"label": "Loop",
				"default": true
			},
			{
	      "id": "swiper_width",
	      "type": "select",
	      "label": "Max Width",
	      "options": [
	        {
	          "value": "xs",
	          "label": "Extra Small"
	        },
	        {
	          "value": "sm",
	          "label": "Small"
	        },
	        {
	          "value": "md",
	          "label": "Medium"
	        },
	        {
	          "value": "lg",
	          "label": "Large"
	        },
	        {
	          "value": "xl",
	          "label": "Extra Large"
	        },
	        {
	          "value": "fluid",
	          "label": "Fluid"
	        }
	      ],
	      "default": "lg"
	    },
	    {
				"id": "space_between_slides",
				"type": "number",
				"label": "Space Between Slides",
				"default": 0
			},
			{
				"id": "slides_perview_mobile",
				"type": "number",
				"label": "Slides Per View On Mobile",
				"default": 1
			},
			{
				"id": "slides_perview_desktop",
				"type": "number",
				"label": "Slides Per View On Desktop",
				"default": 1
			},
			{
	      "id": "swiper_effect",
	      "type": "select",
	      "label": "Transition Effect",
	      "options": [
	        {
	          "value": "none",
	          "label": "None"
	        },
	        {
	          "value": "fade",
	          "label": "Fade"
	        },
	        {
	          "value": "coverflow",
	          "label": "Cover Flow"
	        }
	      ],
	      "default": "none"
	    }
		],
		"blocks": [
			{
	      "type": "product",
	      "name": "Product",
	      "settings": [
	        {
	          "id": "product",
	          "type": "product",
	          "label": "Product"
	        }
	      ]
	    },
	    {
	      "type": "image_picker",
	      "name": "Image",
	      "settings": [
	        {
	          "id": "image",
	          "type": "image_picker",
	          "label": "Image"
	        },
	        {
	          "id": "image_url",
	          "type": "url",
	          "label": "Image as Link"
	        },
	        {
		        "type": "header",
		        "content": "Slide Content"
			    },
			    {
	          "id": "image_title",
	          "type": "text",
	          "label": "Slide Title"
	        },
	        {
	          "id": "image_text",
	          "type": "textarea",
	          "label": "Slide Description"
	        },
	        {
	          "id": "image_overlay",
	          "type": "checkbox",
	          "label": "Slide Overlay",
	          "default": false
	        },
	        {
	          "id": "image_content_x_alignment",
	          "type": "select",
	          "label": "Left/Right Alignment",
	          "default": "left",
	          "options": [
	            {
	              "value": "left",
	              "label": "Left"
	            },
	            {
	              "value": "right",
	              "label": "Right"
	            },
	            {
	              "value": "x-center",
	              "label-show-less": "Center"
	            }
	          ]
	        },
	        {
	          "id": "image_content_y_alignment",
	          "type": "select",
	          "label": "Top/Bottom Alignment",
	          "default": "top",
	          "options": [
	            {
	              "value": "top",
	              "label": "Top"
	            },
	            {
	              "value": "bottom",
	              "label": "Bottom"
	            },
	            {
	              "value": "y-center",
	              "label": "Center"
	            }
	          ]
	        },
	        {
	          "id": "image_text_alignment",
	          "type": "select",
	          "label": "Left/Right Alignment",
	          "default": "left",
	          "options": [
	            {
	              "value": "left",
	              "label": "Left"
	            },
	            {
	              "value": "right",
	              "label": "Right"
	            },
	            {
	              "value": "center",
	              "label": "Center"
	            }
	          ]
	        }
	      ]
	    },
	    {
	      "type": "video",
	      "name": "video",
	      "settings": [
	        {
	          "id": "video",
	          "type": "video",
	          "label": "Video"
	        },
	        {
	          "id": "video_url",
	          "type": "url",
	          "label": "Video as Link"
	        },
	        {
	          "type": "header",
	          "content": "Video Settings"
	        },
	        {
	          "id": "video_controls",
	          "type": "checkbox",
	          "label": "Show Video Controls",
	          "default": false
	        },
	        {
	          "id": "video_autoplay",
	          "type": "checkbox",
	          "label": "Autoplay",
	          "default": false
	        },
	        {
	          "id": "video_loop",
	          "type": "checkbox",
	          "label": "Loop Video",
	          "default": false
	        },
	        {
		        "type": "header",
		        "content": "Slide Content"
			    },
			    {
	          "id": "video_title",
	          "type": "text",
	          "label": "Slide Title"
	        },
	        {
	          "id": "video_text",
	          "type": "textarea",
	          "label": "Slide Description"
	        },
	        {
	          "id": "video_overlay",
	          "type": "checkbox",
	          "label": "Slide Overlay",
	          "default": false
	        },
	        {
	          "id": "video_content_y_alignment",
	          "type": "select",
	          "label": "Top/Bottom Alignment",
	          "default": "top",
	          "options": [
	            {
	              "value": "top",
	              "label": "Top"
	            },
	            {
	              "value": "bottom",
	              "label": "Bottom"
	            },
	            {
	              "value": "y-center",
	              "label": "Center"
	            }
	          ]
	        },
	        {
	          "id": "video_text_x_alignment",
	          "type": "select",
	          "label": "Left/Right Alignment",
	          "default": "left",
	          "options": [
	            {
	              "value": "left",
	              "label": "Left"
	            },
	            {
	              "value": "right",
	              "label": "Right"
	            },
	            {
	              "value": "center",
	              "label": "Center"
	            }
	          ]
	        }
	      ]
	    },
	    {
	      "type": "video_url",
	      "name": "video_url",
	      "settings": [
	        {
	          "id": "video_url",
	          "type": "video_url",
	          "label": "External Video",
	          "accept": [
	            "youtube",
	            "vimeo"
	          ]
	        }
	      ]
	    }
	  ],
  	"presets": [
  		{
  			"name": "Swiper",
  			"blocks": [
  				{ "type": "product" },
  				{ "type": "image_picker" },
	        { "type": "video" },
	        { "type": "video_url" }
  			]
  		}
  	]
	}
{% endschema %}